body,h1{
  font-family: Cinzel;
  }
  .bg {
    background-image: url("images/bg.jpg");

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    color: #fdfcfc;
    text-decoration: none;
    font-size: 20px;
}
.navbar-brand{
  color: #fdfcfc;
}
.fa-angle-double-down
{
  color: white;
}
.navbar-brand {
    padding: 23px 15px;
    font-size: 25px;
}
.navbar-nav>li>a {
    padding-top: 23px;
}
.navbar-nav>li>a:hover{
  color: red;
  background-color: inherit;
  border-bottom: 2px solid red;
}
.well {
   border: 0;
   background-color: inherit;
}
.flash {
  color: white;
}
